.layerPanel {
  /* background-color: rgba(0, 0, 0, 0.7); */
  backdrop-filter: var(--backdrop-filter);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  display: block;
  left: 700px;
  padding: 10px;
  position: absolute;
  top: 60px;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}

.layerPanel:hover {
  box-shadow: var(--box-shadow-hover);
}

.layerPanel input {
  margin-right: 10px;
}

.layerItem {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.layerLabel {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.icons {
  display: inline-flex;
}
