.snapLines path {
    fill: none;
    pointer-events: none;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
}

.halo {
    stroke: var(--surface);
    stroke-width: 3;
}

.line {
    stroke: var(--primary-action-color);
    stroke-width: 1;
}
