.controlPanel {
  background-color: var(--control-background);
  backdrop-filter: var(--backdrop-filter);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  display: block;
  padding: 10px;
  position: absolute;
  right: 50px;
  top: 50px;
  transition: all 0.2s ease-in-out;
  width: var(--control-width);
  z-index: 100;
}

.controlPanel:hover {
  box-shadow: var(--box-shadow-hover);
}

.controlItem input {
  vertical-align: middle;
  margin-right: 10px;
}
