.sidebar {
  backdrop-filter: var(--backdrop-filter);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  height: auto;
  min-height: 100%;
  user-select: none;
  z-index: 100;
}
