.inspector {
  backdrop-filter: var(--backdrop-filter);
  background-color: var(--control-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  display: block;
  padding: 10px;
  position: static;
  user-select: none;
  z-index: 100;
}

.inspector:hover {
  box-shadow: var(--box-shadow-hover);
}

td ~ td {
  padding-left: 10px;
}

.align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-bottom: 8px;
}
