.commandBar {
    backdrop-filter: var(--backdrop-filter);
    background-color: var(--control-background);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--text-color);
    display: flex;
    font-size: 0.75rem;
    left: 350px;
    padding: 2px;
    position: absolute;
    top: 10px;
    transition: all 0.2s ease-in-out;
    user-select: none;
    z-index: 100;
}

.commandBarButton {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 5px;
    min-width: 50px;
    padding: 2px;
    transition: opacity 0.5s ease-in-out;
}

.commandBarButton:hover {
    background-color: var(--control-background-active);
}

.commandBarButton a, div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.delimiter {
    border: 1px dashed var(--control-delimiter);
    margin: 10px 5px 10px 5px;
}

.commandBarButton[aria-current="true"] {
    background-color: var(--control-background-active);
}

.commandBarButton[aria-disabled="true"] {
    background-color: var(--control-background-disabled);
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}
