.commandBar {
    border-radius: var(--border-radius);
    border: 2px solid red;
    display: flex;
    /* height: 2rem; */
    /* list-style-type: none;
    list-style: none; */
    /* margin: auto 0; */
    position: absolute;
    z-index: 100;
}

.commandBarButton {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    /* display: block; */
    /* position: relative; */
    margin: 5px;
    padding: 2px;
    /* transition: opacity 0.5s ease-in-out; */
}

.commandBarButton:hover {
    opacity: 1;
}

.commandBarButton a {
    display: block;
}

.commandBarButton svg {
    display: block;
}