.explorer {
  /*border: 1px solid darkblue;*/
  background-color: rgba(0, 0, 0, .7);
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  transition: all .5s ease-in-out;
  width: 250px;
  z-index: 100;
}

.explorer::before {
  bottom: 0;
  content: ' ';
  filter: blur(10px); 
  -webkit-filter: blur(10px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
