.dataView {
    background-color: var(--control-background);
    border-radius: var(--radius-md);
    color: var(--text-color);
    margin: var(--panel-gap);
    padding: 6px 10px;
    user-select: none;
}
