.stats {
  backdrop-filter: var(--backdrop-filter);
  background-color: var(--control-background);
  border-radius: var(--border-radius);
  bottom: 30px;
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  padding: 10px;
  position: fixed;
  right: 0;
  user-select: none;
  z-index: 100;
}