.groupSelection {
    fill: var(--selection-color);
    fill-opacity: 0.05;
    stroke: var(--selection-color);
    stroke-width: 2;
    stroke-dasharray: 6 3;
    vector-effect: non-scaling-stroke;
}

.groupHighlight {
    fill: var(--selection-color);
    fill-opacity: 0.05;
    pointer-events: none;
    stroke: var(--selection-color);
    stroke-width: 2;
    vector-effect: non-scaling-stroke;
}
