.groupPanel {
  backdrop-filter: var(--backdrop-filter);
  background-color: var(--control-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  display: block;
  padding: 10px;
  position: static;
  user-select: none;
  width: var(--control-width);
  z-index: 100;
}

.groupPanel:hover {
  box-shadow: var(--box-shadow-hover);
}

.groupPanel input {
  vertical-align: middle;
  margin-right: 10px;
}

.groupItem {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.groupLabel {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.icons {
  display: inline-flex;
}

.icons button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: block;
  font: inherit;
  padding: 0;
}
