.navBar {
  padding: 10px;
  /* backdrop-filter: var(--backdrop-filter); */
}

.navBar li li {
  cursor: pointer;
  list-style: none;
  padding-left: 10px;
  position: relative;
}

.navBar li.selected:before {
  background-color: mediumpurple;
  border-radius: 50%;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 40%;
  width: 4px;
}

.navBar li.active:before {
  background-color: deepskyblue;
  border-radius: 50%;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 40%;
  width: 4px;
}

.navBar li.new:before {
  background-color: deeppink;
  border-radius: 50%;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 40%;
  width: 4px;
}

.navBar a {
  color: var(--text-color);
  text-decoration: none;
}

.navBar a:hover {
  color: var(--text-color-hover);
}
