.toolBar {
  background-color: var(--control-background);
  backdrop-filter: var(--backdrop-filter);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  list-style: none;
  width: 50px;
}

.toolBarButton {
  display: block;
  height: 50px;
  opacity: 0.5;
  padding: 10px;
  transition: opacity 0.3s ease-in-out;
  width: 50px;
}

.toolBarButton:hover {
  opacity: 1;
}

.toolBarButton a {
  display: block;
}

.toolBarButton svg {
  display: block;
}
