.handle {
  /* cornflowerblue; */
  fill: rgba(91, 96, 192, 1);
  fill-opacity: 0.9;
  stroke: ghostwhite;
  stroke-width: 1px;
  cursor: e-resize;
}

/*[ auto | crosshair | default | pointer | move | e-resize | ne-resize | nw-resize | n-resize | se-resize | sw-resize | s-resize | w-resize| text | wait | help ]] */

.topRight,
.bottomLeft {
  cursor: nesw-resize;
}

.topLeft,
.bottomRight {
  cursor: nwse-resize;
}

.middleLeft,
.middleRight {
  cursor: ew-resize;
}

.middleTop,
.middleBottom {
  cursor: ns-resize;
}
