.line {
    pointer-events: none;
    shape-rendering: crispEdges;
    stroke: var(--info-color);
    stroke-width: 1;
}

.grip {
    pointer-events: stroke;
    stroke: transparent;
    stroke-width: 7;
}

.horizontal .grip {
    cursor: row-resize;
}

.vertical .grip {
    cursor: col-resize;
}

.leaving .line {
    opacity: 0.4;
}
